.jsonDataText {
  .header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  form {
    textarea {
      height: 13rem;
    }
  }
}
